[FORMAT]
max-line-length=180
too-few-public-methods=0
missing-function-docstring=0
ignore =
    migrations,
    tests,
    tests.py,
    database_models,
    __pycache__,
    manage.py,
    settings.py,
